<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Black Market,北大黑市">
        <meta name="author" content="王志豪,Wang Zhihao,Seeyoon">
        <meta name="description" content="北大黑市,Black Market" />
        <meta name="keywords" content="北大黑市,Black Market,北京大学" />
        <title>Black Market | New Post</title>
        <!-- Bootstrap Core CSS -->
        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <!-- Plugin CSS -->
        <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
        <!-- Theme CSS -->
        <link href="../static/css/creative.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="static/img/favicon.ico">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="http://blackmarket.wangzhihao.com.cn">Black Market</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="http://blackmarket.wangzhihao.com.cn">HOME PAGE</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="section-heading">NEW POST</h1>
                    <hr class="light">
                    <p class="text-faded">立即发布你的 <strong>「供给」</strong> 和 <strong>「需求」</strong> 并在第一时间得到联系。</p>
                    <form method="post" id="newpostform">
                        <h4 class="newpost-hd">
                        {% if (msg | length) > 0 %}
                            {{msg}}
                        {% endif %}
                        </h4><br>
                        <label for="demand_course">I Have *</label>
                        <select class="form-control" id="supplyCourse" name="supplyCourse">
                            <option value="31">我只是来求课的TvT</option>
                            <option value="1">概率统计1班 - 董镇喜</option>
                            <option value="2">概率统计2班 - 董镇喜</option>
                            <option value="3">中级微观经济学1班 - 雷晓燕</option>
                            <option value="4">中级微观经济学2班 - 李力行、胡岠</option>
                            <option value="5">中级微观经济学3班 - 王敏</option>
                            <option value="6">中级宏观经济学1班 - 张帆</option>
                            <option value="7">中级宏观经济学2班 - 赵波</option>
                            <option value="8">中级宏观经济学3班 - 霍德明</option>
                            <option value="9">计量经济学1班 - 沈艳</option>
                            <option value="10">计量经济学2班 - 张丹丹</option>
                            <option value="11">国际贸易 - 余淼杰</option>
                            <option value="12">金融经济学 - 徐高</option>
                            <option value="13">发展经济学 - 姚洋</option>
                            <option value="14">公共财政学 - 李玲</option>
                            <option value="15">环境经济学 - 徐晋涛</option>
                            <option value="16">中国经济专题 - 林毅夫</option>
                            <option value="17">财务会计 - 张昕</option>
                            <option value="18">经济学研究训练(PPE讨论班) - 王歆</option>
                            <option value="19">财务报表分析 - 张昕</option>
                            <option value="20">城市经济学 - 张帆</option>
                            <option value="21">低碳经济与碳金融 - 唐方方</option>
                            <option value="22">社会经济调查理论方法与实践 - 赵耀辉</option>
                            <option value="23">教育经济学 - 闵维方</option>
                            <option value="24">经济增长导论(英文) - 刘国恩</option>
                            <option value="25">博弈与社会 - 张维迎</option>
                            <option value="26">博弈论与信息经济学 - 汪浩、席天扬</option>
                            <option value="27">新结构经济学导论 - 付才辉</option>
                            <option value="28">创新经济学与知识产权（英文）- 雷震</option>
                            <option value="29">互联网金融学导论 - 郭峰</option>
                            <option value="30">中国改革专题 - 周其仁</option>
                        </select><br>
                        <label for="demandCourse">I Want *</label>
                        <select class="form-control" id="demandCourse" name="demandCourse">
                            <option value="32">我是雷锋我就是来出课的</option>
                            <option value="1">概率统计1班 - 董镇喜</option>
                            <option value="2">概率统计2班 - 董镇喜</option>
                            <option value="3">中级微观经济学1班 - 雷晓燕</option>
                            <option value="4">中级微观经济学2班 - 李力行、胡岠</option>
                            <option value="5">中级微观经济学3班 - 王敏</option>
                            <option value="6">中级宏观经济学1班 - 张帆</option>
                            <option value="7">中级宏观经济学2班 - 赵波</option>
                            <option value="8">中级宏观经济学3班 - 霍德明</option>
                            <option value="9">计量经济学1班 - 沈艳</option>
                            <option value="10">计量经济学2班 - 张丹丹</option>
                            <option value="11">国际贸易 - 余淼杰</option>
                            <option value="12">金融经济学 - 徐高</option>
                            <option value="13">发展经济学 - 姚洋</option>
                            <option value="14">公共财政学 - 李玲</option>
                            <option value="15">环境经济学 - 徐晋涛</option>
                            <option value="16">中国经济专题 - 林毅夫</option>
                            <option value="17">财务会计 - 张昕</option>
                            <option value="18">经济学研究训练(PPE讨论班) - 王歆</option>
                            <option value="19">财务报表分析 - 张昕</option>
                            <option value="20">城市经济学 - 张帆</option>
                            <option value="21">低碳经济与碳金融 - 唐方方</option>
                            <option value="22">社会经济调查理论方法与实践 - 赵耀辉</option>
                            <option value="23">教育经济学 - 闵维方</option>
                            <option value="24">经济增长导论(英文) - 刘国恩</option>
                            <option value="25">博弈与社会 - 张维迎</option>
                            <option value="26">博弈论与信息经济学 - 汪浩、席天扬</option>
                            <option value="27">新结构经济学导论 - 付才辉</option>
                            <option value="28">创新经济学与知识产权（英文）- 雷震</option>
                            <option value="29">互联网金融学导论 - 郭峰</option>
                            <option value="30">中国改革专题 - 周其仁</option>
                        </select><br>
                        <div class="form-group">
                            <label for="contact">Contact Info *</label>
                            <textarea class="form-control" id="contact" name="contact" placeholder="联系方式默认为注册时的手机号，当然你也可以修改成微信、邮箱等其他联系方式，注明即可。">{{phone}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="message">Leave A Message *</label>
                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="比如：我是大四毕业狗，跪求张老师的博弈与社会课，请联系我！我可以请两顿饭！（不建议在留言中写联系方式，因为当交易完成你可以标记为「已完成」，已完成的Post不显示「联系方式」但是显示此留言。）">{{message}}</textarea>
                        </div>
                    <button button class="btn btn-default btn-xl" onclick="form=document.getElementById('newpostform');form.action='/post';">POST</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- jQuery -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../static/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Theme JavaScript -->
<script src="../static/js/creative.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?0069ccbd994c77897aa8cde71d9269f4";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>