<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Black Market | Easy To Exchange Your Courses</title>
        <!-- Bootstrap Core CSS -->
        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <!-- Plugin CSS -->
        <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
        <!-- Theme CSS -->
        <link href="../static/css/creative.min.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Black Market</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">Demand & Supply</h1>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th align="center">时间</th>
                                <th align="center">留言</th>
                                <th align="center">供给</th>
                                <th align="center">需求</th>
                                <th align="center">详情</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1h 33m</td>
                                <td><a class="btn btn-default">留言留言留言留言留...</a></td>
                                <td><a class="btn btn-default">计量经济学1班</a></td>
                                <td><a class="btn btn-default">经济增长导论<br>(英文)</a></td>
                                <td><a class="btn btn-primary">详情</a></td>
                            </tr>
                            <tr>
                                <td>2h 14m</td>
                                <td><a class="btn btn-default">留言留言留言留言留...</a></td>
                                <td><a class="btn btn-default">财务会计</a></td>
                                <td><a class="btn btn-default">计量经济学1班</a></td>
                                <td><a class="btn btn-primary">详情</a></td>
                            </tr>
                            <tr>
                                <td>3h 44m</td>
                                <td><a class="btn btn-default">留言留言留言留言留...</a></td>
                                <td><a class="btn btn-default">互联网金融学<br>导论</a></td>
                                <td><a class="btn btn-default">计量经济学2班</a></td>
                                <td><a class="btn btn-primary">详情</a></td>
                            </tr>
                            <tr>
                                <td>5h 19m</td>
                                <td><a class="btn btn-default">留言留言留言留言留...</a></td>
                                <td><a class="btn btn-default">财务会计</a></td>
                                <td><a class="btn btn-default">创新经济学与<br>知识产权（英文）</a></td>
                                <td><a class="btn btn-primary">详情</a></td>
                            </tr>
                            <tr>
                                <td>10h 01m</td>
                                <td><a class="btn btn-default">留言留言留言留言留...</a></td>
                                <td><a class="btn btn-default">互联网金融学导论</a></td>
                                <td><a class="btn btn-default">中国改革专题</a></td>
                                <td><a class="btn btn-primary">详情</a></td>
                            </tr>
                            <tr>
                                <td>13h 25m</td>
                                <td><a class="btn btn-default">留言留言留言留言留...</a></td>
                                <td><a class="btn btn-default">创新经济学与<br>知识产权（英文）</a></td>
                                <td><a class="btn btn-default">计量经济学1班</a></td>
                                <td><a class="btn btn-primary">详情</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </header>
        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h1 class="section-heading">NEW POST</h1>
                        <hr class="light">
                        <p class="text-faded">发布你的「供给」和「需求」，并在第一时间收到通知。</p>
                        <a href="#get_started" class="page-scroll btn btn-default btn-xl sr-button">POST</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- jQuery -->
        <script src="../static/vendor/jquery/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="../static/vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- Theme JavaScript -->
        <script src="../static/js/creative.min.js"></script>
    </body>
</html>